h1 {
  background-color: blue;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  display: inline;
}
span {
  background-color: rgb(226, 37, 37);
  border-width: 2px;
  border-color: rgb(19, 233, 19);
  border-style: solid;
}
